<h1>BURGERS!!!</h1>




<h2>BURGERS 4 U 2 EAT</h2>

<ul class="breadcrumb">
    {{#each burgers}}
      {{#unless this.devoured}}
       <li class="breadcrumb-item active" >{{this.id}}. {{this.burger_name}} </li>
        {{/unless}}
        {{/each}}
</ul>

<h2>BURGERS U ATE ALREADY!</h2>

<ul class="breadcrumb">
{{#each burgers}}
{{#if devoured}}
<li class="breadcrumb-item active">{{this.id}}. {{this.burger_name}}</li>
{{/if}}
{{/each}}
</ul>

<h2>Create a burga!</h2>
<div class="row">
<div class="col-12 text-center">
  <h2 class="text-white">Order A Tasty Burger!</h2>
    <form action="/" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Tasty Burger Name Here">
      <button type="submit" class="btn btn-info">Order The Burger</button>
    </form>
  </div>
</div>